<div class="row">
  <div class="col-md-3">
    <!-- AllPic.site > converter > left -->
    <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-3614469044994240"
    data-ad-slot="7233635185"
    data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="col-md-6 text-center">
    <%= image_tag @convert_image.data.jpg, class: 'width-250px img-dashed' %>

    <br/><br/>

    <h4>Image Filetypes Available</h4>
    <h6>Click on the button to download.</h6>

    <a href="<%= @convert_image.data.jpg %>" class="btn btn-success" download>JPG</a>
    <a href="<%= @convert_image.data.gif %>" class="btn btn-success" download>GIF</a>
    <a href="<%= @convert_image.data.png %>" class="btn btn-success" download>PNG</a>
    <a href="<%= @convert_image.data.tif %>" class="btn btn-success" download>TIF</a>
    <a href="<%= @convert_image.data.svg %>" class="btn btn-success" download>SVG</a>

    <br/><br/>

    <%= link_to 'Convert Another Image', convert_images_path, class: 'btn btn-primary btn-sm' %>

    <br/><br/>

  </div>
  <div class="col-md-3">
    <!-- AllPic.site > converter > right -->
    <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-3614469044994240"
          data-ad-slot="7223872801"
          data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>